<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Chess Board</title>
</head>

<body>

  <div class="square">
    <div class="black" #a8 id="a8" (click)="verifyMove(a8)"></div>
    <div class="red" #b8 id="b8" (click)="verifyMove(b8)"></div>
    <div class="black " #c8 id="c8" (click)="verifyMove(c8)"></div>
    <div class="red" #d8 id="d8" (click)="verifyMove(d8)"></div>
    <div class="black " id="e8" #e8 (click)="verifyMove(e8)"></div>
    <div class="red" id="f8" #f8 (click)="verifyMove(f8)"></div>
    <div class="black " id="g8" #g8 (click)="verifyMove(g8)"></div>
    <div class="red" id="h8" #h8 (click)="verifyMove(h8)"></div>


    <div class="red" #a7 id="a7" (click)="verifyMove(a7)"></div>
    <div class="black" id="b7" #b7 (click)="verifyMove(b7)"></div>
    <div class="red" id="c7" #c7 (click)="verifyMove(c7)"></div>
    <div class="black" id="d7" #d7 (click)="verifyMove(d7)"></div>
    <div class="red" id="e7" #e7 (click)="verifyMove(e7)"></div>
    <div class="black" id="f7" #f7 (click)="verifyMove(f7)"></div>
    <div class="red" id="g7" #g7 (click)="verifyMove(g7)"></div>
    <div class="black" id="h7" #h7 (click)="verifyMove(h7)"></div>


    <div class="black" #a6 id="a6" (click)="verifyMove(a6)"></div>
    <div class="red" #b6 id="b6" (click)="verifyMove(b6)"></div>
    <div class="black " #c6 id="c6" (click)="verifyMove(c6)"></div>
    <div class="red" #d6 id="d6" (click)="verifyMove(d6)"></div>
    <div class="black " id="e6" #e6 (click)="verifyMove(e6)"></div>
    <div class="red" id="f6" #f6 (click)="verifyMove(f6)"></div>
    <div class="black " id="g6" #g6 (click)="verifyMove(g6)"></div>
    <div class="red" id="h6" #h6 (click)="verifyMove(h6)"></div>


    <div class="red" #a5 id="a5" (click)="verifyMove(a5)"></div>
    <div class="black" id="b5" #b5 (click)="verifyMove(b5)"></div>
    <div class="red" id="c5" #c5 (click)="verifyMove(c5)"></div>
    <div class="black" id="d5" #d5 (click)="verifyMove(d5)"></div>
    <div class="red" id="e5" #e5 (click)="verifyMove(e5)"></div>
    <div class="black" id="f5" #f5 (click)="verifyMove(f5)"></div>
    <div class="red" id="g5" #g5 (click)="verifyMove(g5)"></div>
    <div class="black" id="h5" #h5 (click)="verifyMove(h5)"></div>


    <div class="black" #a4 id="a4" (click)="verifyMove(a4)"></div>
    <div class="red" #b4 id="b4" (click)="verifyMove(b4)"></div>
    <div class="black " #c4 id="c4" (click)="verifyMove(c4)"></div>
    <div class="red" #d4 id="d4" (click)="verifyMove(d4)"></div>
    <div class="black " id="e4" #e4 (click)="verifyMove(e4)"></div>
    <div class="red" id="f4" #f4 (click)="verifyMove(f4)"></div>
    <div class="black " id="g4" #g4 (click)="verifyMove(g4)"></div>
    <div class="red" id="h4" #h4 (click)="verifyMove(h4)"></div>


    <div class="red" #a3 id="a3" (click)="verifyMove(a3)"></div>
    <div class="black" id="b3" #b3 (click)="verifyMove(b3)"></div>
    <div class="red" id="c3" #c3 (click)="verifyMove(c3)"></div>
    <div class="black" id="d3" #d3 (click)="verifyMove(d3)"></div>
    <div class="red" id="e3" #e3 (click)="verifyMove(e3)"></div>
    <div class="black" id="f3" #f3 (click)="verifyMove(f3)"></div>
    <div class="red" id="g3" #g3 (click)="verifyMove(g3)"></div>
    <div class="black" id="h3" #h3 (click)="verifyMove(h3)"></div>


    <div class="black" #a2 id="a2" (click)="verifyMove(a2)"></div>
    <div class="red" #b2 id="b2" (click)="verifyMove(b2)"></div>
    <div class="black " #c2 id="c2" (click)="verifyMove(c2)"></div>
    <div class="red" #d2 id="d2" (click)="verifyMove(d2)"></div>
    <div class="black " id="e2" #e2 (click)="verifyMove(e2)"></div>
    <div class="red" id="f2" #f2 (click)="verifyMove(f2)"></div>
    <div class="black " id="g2" #g2 (click)="verifyMove(g2)"></div>
    <div class="red" id="h2" #h2 (click)="verifyMove(h2)"></div>


    <div class="red" #a1 id="a1" (click)="verifyMove(a1)"></div>
    <div class="black" id="b1" #b1 (click)="verifyMove(b1)"></div>
    <div class="red" id="c1" #c1 (click)="verifyMove(c1)"></div>
    <div class="black" id="d1" #d1 (click)="verifyMove(d1)"></div>
    <div class="red" id="e1" #e1 (click)="verifyMove(e1)"></div>
    <div class="black" id="f1" #f1 (click)="verifyMove(f1)"></div>
    <div class="red" id="g1" #g1 (click)="verifyMove(g1)"></div>
    <div class="black" id="h1" #h1 (click)="verifyMove(h1)"></div>
  </div>
</body>

</html>
