.square {
    border: 10px solid gray;
    text-align: center;
    width: 60vw;
    height: 60vw;
    margin: auto;
  }
  
  .red {
    background-color: white;
    height: 12.5%;
    width: 12.5%;
    max-height: 100vw;
    max-width: 100vw;
    float: left;
    padding: 0;
    margin: auto;
  }
  
  .black {
    background-color: black;
    height: 12.5%;
    width: 12.5%;
    max-height: 100vw;
    max-width: 100vw;
    float: left;
    padding: 0;
    margin: auto;
  }
  
.highlighted {
    background-color: pink !important;
  }

.possibleMove{
    background-color: lime !important;
}

.knightStyle{
    width:100%; 
    height: 100%;
}